/* Colors and fonts */
body {
background-color: #33464F;
color: #876445;
font-family: Proxima Nova ;
font-size: 15px;
line-height: 26,3 px;
font-weight: normal;


}

h1{
 color: #EA907A;
 font-family: 'Roboto', sans-serif;
 font-size: 35px;
 font-weight: 900;

}

h2 {
color: #FFCB74;
font-family: 'Roboto', sans-serif;
font-size: 25px;
font-weight: 500;

}

a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color:#EA907A;
	transition: color 0.3s ease;
}

a:hover {
	color: #FFCB74;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bolder;
}



/* Custom design with class */

.container {
	width: 700px;
	margin: 40px auto;
}

@media(max-width: 500px) {
	.container{
		width: 400px;
	}
}

}

@media(max-width: 760px) {
	.container{
		width: 600px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
	border: 5px #EA907A dotted;
	border-radius: 10px;
	
}
.img-circle {
	border-radius: 50%;
}
.btn-yellow {
	background-color: #EA907A ;
	color: whitesmoke;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-yellow: hover {
	background-color: #EA907A ;
	color: whitesmoke;
	margin : 30px
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: #EA907A;
}
.list-inline i:hover {
color: #FFCB74;}

}

#introduction p {
 margin-bottom: 40px;
}

